.po_items_ho {
    column-width: 2em;
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    column-gap: 4rem;
    -moz-column-gap: 4rem;
    -webkit-column-gap: 4rem;
  }
  
  .po_item {
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    position: relative;
    background: var(--secondary-color);
    padding: 6px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s ease;
    font-size: 0;
    min-height: 150px;
  }
  
  .po_item img {
    max-width: 100%;
  }
  
  .po_item .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--overlay-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .po_item:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
  }
  
  .po_item:hover .content {
    opacity: 1;
  }
  
  .po_item .content p {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .po_item .content a {
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
  }
  
  .po_item .content a:hover {
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .po_items_ho {
      column-width: 100%;
      -moz-column-width: 100%;
      -webkit-column-width: 100%;
    }
  
    .po_item {
      margin-bottom: 1rem;
    }
  }
  